/* Default broweser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    -ms-overflow-style: none; /* Hide scrollbar on Internet Explorer 10+ */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}


/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 90px;
    border-bottom: solid 5px #FFC107;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login, .signup {
    list-style-type: none;
    padding: 10px 25px;
    border-radius: 5px;
}

.login:hover {
    cursor: pointer;
    background-color: #FDFFB0;
    padding: 10px 25px;
    border-radius: 5px;
}

.login:hover ~ .signup {
    background-color: transparent;
}

.login p, .signup p {
    text-decoration: none;
    color: #000;
}

.signup {
    background-color: #FDFFB0;
}

.signup:hover {
    background-color: #FFC107;
    cursor: pointer;
}


/* Hero section */
.hero-section {
    position: relative;
    background: url("./assets/hero-bg.jpg");
    background-attachment: fixed;
    height: 85vh;
    color: #fff;
    padding-left: 50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}

.hero-heading {
    font-size: 70px;
    margin-bottom: 10px;
    z-index: 1;
}

.hero-paragraph {
    z-index: 1;
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 50px;
    width: 87%;
}

.get-started {
    width: 230px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #FDFFB0;
    border: none;
    border-radius: 5px;
    z-index: 1;
}

.get-started:hover{
    cursor: pointer;
    background-color: #FFC107;
    transform: scale(1.05);
    transition-duration: 0.3s;
    border-radius: 15px;
}


/* Section */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
}

.section {
    height: 90vh;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section :nth-child(odd) .section-text-container {
    margin-left: 40px;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-img-container {
    position: relative;
    flex: 0.7; 
    min-width: 300px; 
    max-width: 50%; 
}

.img-underlay {
    height: 480px;
    width: 480px;
    background-color: #FFC107;
    border-radius: 20px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.section-img {
    height: 480px;
    background-color: #ccc; 
    background-size: contain;
    border-radius: 20px;
    position: absolute;
}

.section-text-container {
    margin-left: 00px;    
    flex: 1; 
    min-width: 300px; 
    max-width: 60%; 
}
.section-heading {
    font-size: 60px;
    margin-bottom: 20px;
    border-bottom: #FFC107 solid 5px;
    display: inline-block;
}

.section p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 2.5vw;
}

.section ul {
    margin-bottom: 10px;
}

.section ul li {
    margin-left: 30px;
    list-style-type: disc;
    font-size: 30px;
}

/* Meet the team */
.team-member-container {
    width: 250px;
    background-color: #141414;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 13px;
    overflow: hidden;
}

.team-member-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.team-member-container h3 {
    margin: 20px auto 10px auto;
    color: #D9D9D9;
    font-size: 16px;
}

.team-member-container p {
    margin: 0 auto 10px auto;
    color: #929292;
}

.team-members {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.slick-dots {
    bottom: -30px;
}


/* Footer */
.footer {
    background-color: #141414;
    color: #929292;
    padding: 50px 100px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links-container {
    display: flex;
    flex-direction: row;
}

.links-block {
    padding: 0px 20px;
}

.block-heading {
    color: #565656;
}

.link {
    display: block;
    color: #D9D9D9;
    text-decoration: none;
}

.copyright {
    width: 100%;
    text-align: right;
    margin-top: 40px;
}


/* login/signup */
.onboarding-container {
    display: flex;
    width: 100vw;
    position: relative;
}

.onboarding-img-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 20px 0px #565656;
}

.onboarding-main {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    margin-left: 50vw;
    overflow-y: auto;
}

.onboarding-main img {
    max-width: 180px;
    margin-bottom: 10px;
}

.onboarding-main p {
    margin: 10px 0;
}

.onboarding-main p span {
    color: blue;
    border-bottom: 1px solid blue;
}

.onboarding-main p span:hover {
    cursor: pointer;
}

.onboarding-main .switch-bar {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    background-color: #FDFFB0;
    border-radius: 30px;
    font-weight: 600;
    margin: 20px 10px;
}

.onboarding-main .switch-bar p {
    text-align: center;
    width: 45%;
    cursor: pointer;
}

.onboarding-main .switch-bar .active {
    border-radius: 20px;
    background-color: #FFC107;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}

.onboarding-main .form-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onboarding-main .form-container input{
    width: 100%;
    font-size: 18px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px #929292 solid;
    box-shadow: 0 2px 3px 0 #565656;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 50px auto;
}

.button-container button {
    width: 70%;
    background-color: #FFC107;
    border: 0;
    box-shadow: 0 2px 3px 0 #565656;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.button-container button:hover {
    cursor: pointer;
}

.verification-text-container {
    margin: 20px 0 10px 0;
}

.verification-text-container p {
    margin: 20px 0;
    font-size: 18px;
}

.verification-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    padding-left: 30px;
    font-size: 18px;
}

.verification-footer p {
    width: 100%;
}